**/.idea
**/__pycache__/
**/data/
**/poison_dataset/
**/.DS_Store
**/results/
**/experiment_results/
**/.vscode
**/leaf/
**.egg-info
202**
eval/data**
**/massif.out*
*swp
build
code.ipynb
image.ipynb

fullyConnected_16.edges
grad.ipynb
tutorial/EpidemicLearning/1900_0_model.pt
tutorial/EpidemicLearning/1900_10_model.pt
tutorial/EpidemicLearning/1900_11_model.pt
tutorial/EpidemicLearning/1900_12_model.pt
tutorial/EpidemicLearning/1900_13_model.pt
tutorial/EpidemicLearning/1900_14_model.pt
tutorial/EpidemicLearning/1900_15_model.pt
tutorial/EpidemicLearning/1900_1_model.pt
tutorial/EpidemicLearning/1900_2_model.pt
tutorial/EpidemicLearning/1900_3_model.pt
tutorial/EpidemicLearning/1900_4_model.pt
tutorial/EpidemicLearning/1900_5_model.pt
tutorial/EpidemicLearning/1900_6_model.pt
tutorial/EpidemicLearning/1900_7_model.pt
tutorial/EpidemicLearning/1900_8_model.pt
tutorial/EpidemicLearning/1900_9_model.pt
tutorial/EpidemicLearning/grad_cos_sim.py
tutorial/EpidemicLearning/model_0/
tutorial/EpidemicLearning/model_1/
tutorial/EpidemicLearning/model_10/
tutorial/EpidemicLearning/model_11/
tutorial/EpidemicLearning/model_12/
tutorial/EpidemicLearning/model_13/
tutorial/EpidemicLearning/model_14/
tutorial/EpidemicLearning/model_15/
tutorial/EpidemicLearning/model_2/
tutorial/EpidemicLearning/model_3/
tutorial/EpidemicLearning/model_4/
tutorial/EpidemicLearning/model_5/
tutorial/EpidemicLearning/model_6/
tutorial/EpidemicLearning/model_7/
tutorial/EpidemicLearning/model_8/
tutorial/EpidemicLearning/model_9/
tutorial/EpidemicLearning/testingEL_Local copy.py


tutorial/EpidemicLearning/
tutorial/EpidemicLearning/model_0_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_0_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_10_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_10_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_10_FOOLSGOLD_NEUROTOXIN/        
tutorial/EpidemicLearning/model_11_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_11_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_11_FOOLSGOLD_NEUROTOXIN/        
tutorial/EpidemicLearning/model_12_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_12_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_12_FOOLSGOLD_NEUROTOXIN/        
tutorial/EpidemicLearning/model_13_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_13_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_13_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_14_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_14_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_14_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_15_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_15_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_15_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_1_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_1_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_2_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_2_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_3_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_3_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_4_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_4_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_4_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_5_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_5_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_5_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_6_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_6_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_6_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_7_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_7_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_7_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_8_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_8_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_8_FOOLSGOLD_NEUROTOXIN/
tutorial/EpidemicLearning/model_9_AVG_NEUROTOXIN/
tutorial/EpidemicLearning/model_9_FLAME_NEUROTOXIN/
tutorial/EpidemicLearning/model_9_FOOLSGOLD_NEUROTOXIN/